			body{
				margin-bottom: 60px;
			}
			.container-fluid{
			  bottom: 0;
			  width: 100%;
			  height: 60px;
			  background-color: #16B84E;
			}
			body > .container {
			  padding: 60px 15px 0;
			}
			.container .text-muted {
			  margin: 20px 0;
			}

			.container-fluid > .container {
			  padding-right: 15px;
			  padding-left: 15px;
			}

			code {
			  font-size: 80%;
			}